.button {
    font-size: 1.6em;
    text-decoration: none;
    height: unset;
    color: white;
    background: linear-gradient(90deg, $blue-bright 0%, #00A8F5 180%);
    // background: linear-gradient(180.19deg, #00A8F5 -125.02%, #006FE8 98.68%);
    border-radius: 12px;
    border: none;
    cursor: pointer;
    padding: 10px 0;
    clear: both;
    width: 100%;
    text-align: center;

    height: 40px;

    font-weight: 500;
    font-size: 14px;
    text-align: center;

    color: #FFFFFF;

    transition: opacity 0.4s ease-in-out;

    @media(min-width: $min-sm) {
        // width: auto;
        clear: none;
    }

    @media(min-width: $min-md) {
        display: inline-block;
    }

    &:disabled {
        color: white;
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.button--white {
    @extend .button;
    background: white;
    color: $blue-bright;
    font-weight: 200; // originally 400

    &:disabled {
        color: $blue-bright;
    }
}

.button--red {
    @extend .button;
    background: $light-red;
    color: white;

    &:disabled {
        color: white;
    }
}

.button--alt {
    @extend .button;
    color: $blue-bright;
    background: transparent;
    border: 0.1rem solid $blue-bright;
    position: relative;
    transition: color 0.4s ease-in-out;

    &:disabled {
        color: $blue-bright;
    }
}

.button--success {
    @extend .button--alt;
    color: $green;
    border: 0.1rem solid $light-green;

    &:disabled {
        opacity: 1;
    }

    &:disabled {
        color: $green;
    }
}

.button--warning {
    @extend .button--success;
    color: $yellow;
    border: 0.1rem solid $yellow;

    &:disabled {
        color: $yellow;
    }
}

// .button.button--alt:hover {
//     color: themed('background');
// }

// .button.button--alt:before {
//     content: '';
//     background-color: $blue-bright;
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: -1;
//     transform: scaleX(0);
//     transform-origin: right;
//     transition: transform 0.4s $cubic-bezier;
// }

// .button.button--alt:hover:before {
//     transform: scaleX(1);
//     transform-origin: left;
// }