$shadow: rgba(50, 94, 128, 0.2);
$navy: rgba(0, 28, 58, 1);

$off-white: #f8fafb;
$mid-grey: #58585b;
$light-grey: #cccccc;
$dark-grey: #3f3f41;

$light-green: #31CC9A;
$green: #00a200; // originally 400
$light-red: #F16262;
$red: #F04545;
$orange: #db6200; // originally 400
$yellow: rgb(244, 183, 50);

$navy: rgba(0, 28, 58, 1);

// $blue-bright: #106dd2;
$blue-bright: #006FE8;
$blue-dark: #002247;
$blue-darker: #001B3A;

$shadow: rgba(50, 94, 128, 0.2);
$border: rgba(88, 88, 91, 0.1);

$cubic-bezier: cubic-bezier(0.8, 0, 0.2, 1);

// Border radii:
$column-border-radius: 16px;

$themes: (light:(background: #fcfcfd,
        foreground: $mid-grey,
        logo: #212122,
        beta: $blue-bright,
        toggle: 0.4,
    ),
    dark: (background: $blue-darker,
        foreground: white,
        logo: white,
        beta: white,
        toggle: 1,
    ), );

.hide-scrollbar::-webkit-scrollbar {
    /* remove scrollbar space */
    width: 0px;
    height: 0px;
}