# Any file in src or build will get pushed to npm
!src
build

# Environment variables/secrets
*.env

# Typedoc output
docs

# NPM/Yarn files
node_modules
package-lock.json
.npmrc
.yarnrc
.yarn
lerna-debug.log
yarn-error.log
.cache

# Misc. logs
*.log

# Coverage
.nyc_output
coverage
reports

# IDE/OS specific
.vscode
.idea
.dir-locals.el
.editorconfig
.DS_Store

