@import '../styles/variables';

.token-value {
    height: 128px;

    .select--market {
        width: 150px;
        margin-bottom: 10px;
    }

    display: flex;
    justify-content: space-between;

    >div {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

    input[type=text],
    input[type=number] {
        border: none;
        background: none;
        font-size: 22px;
        font-weight: 200; // originally 400
        line-height: normal;
        color: $mid-grey;

        width: 200px;

        &::placeholder {
            color: $mid-grey;
            opacity: 0.55;
        }

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }
    }

    .token-value--item--error {

        input[type=text],
        input[type=number] {
            color: $red;
        }
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button,
    input[type=text]::-webkit-inner-spin-button,
    input[type=text]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    .token-value--left {
        width: 45%;
    }

    .token-value--right {
        align-items: flex-end;
        width: 100% - 45%;
    }
}

.token-value {
    background-color: white;
    padding: 15px;
}

.token-value:first-child {
    background-color: rgba(255, 255, 255, 0.6);
}

.token-value+*+.token-value {
    border-top: 1px solid #DBE0E8;
}

.order--tabs {
    height: 0;
    position: relative;
    left: calc(50% - 16px);
    top: -15px;
    cursor: pointer;

    &:hover {
        span {
            animation: wiggle .3s 2;
        }
    }

    &:active {
        span {
            background: linear-gradient(192.09deg, #00A8F5 -55.87%, darken(#006FE8, 10%) 91.18%);
        }
    }

    span {
        transition: box-shadow 0.1s ease;
        transition: transform 0.1s ease;
        border-radius: 100%;
        display: flex;
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        background: linear-gradient(192.09deg, #00A8F5 -55.87%, #006FE8 91.18%);
        box-shadow: 0px 1px 2px rgba(0, 26, 58, 0.2);

    }

    img {
        height: 20px;
    }
}

.order-value--title {
    display: flex;
    font-weight: 200; // originally 400
    font-size: 15px;
    color: $mid-grey;
}

.order-value--subtext {
    text-align: right;
    font-weight: 200; // originally 400
}