.popup {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 15;
}

.popup-overlay {
    height: 100vh;
    width: 100vw;

    background: #00000055;
}

.popup-inner {
    @extend .centered;

    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}