.console {
    color: white;
    background-color: black;
    font-family: monospace;

    height: 105px;
    width: calc(100% - 2 * 10px);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;



    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    display: flex;
    flex-flow: column;
}

.console::-webkit-scrollbar {
    /* remove scrollbar space */
    width: 0px;
    height: 0px;
}

.console--bottom {
    margin-top: 10px;
}