html {
    background: #eee;
    min-height: 100vh;
}

.test-background {
    background: #eee;
    min-height: 100vh;
    padding-top: 15vh;

}

.test-banner {
    height: 60px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #999;
    background: white;
    display: flex;
    align-items: center;
    margin: 0;
    width: 100vw;

    h1 {
        font-size: 24px;
        margin: 0;
    }
}

._ren_gateway-minified>._ren_iframeShadow {
    margin-top: 0px;
}

.test-environment {
    padding: 20px;
    margin: 0 auto;
    max-width: 500px;
    background: white;

    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    text-align: center;

    >* {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .box {
        border: 1px solid #ccc;
        border-radius: 2px;
        padding: 10px;

        p:last-child {
            margin-bottom: 0;
        }
    }

    select {
        height: 50px;
        width: 100%;
        text-align: center;
    }

    .send {
        display: flex;
        flex-flow: row;
        flex-grow: 2;

        >.box {
            border-left: 0;
        }

        input {
            flex-grow: 2;
        }

        >.send>input {
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        >.send>.box {
            height: 46px;
            border-left: 0;
            border-right: 0;
            border-radius: 0;
        }

        button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    input {
        height: 46px;
        border-radius: 2px;
        width: 100%;
        border: 1px solid #ccc;
        padding: 0 10px;
    }

    .red {
        color: rgb(255, 77, 77);
        border-color: rgb(255, 77, 77);
    }

    button {
        height: 46px;
        text-transform: uppercase;
        margin: 0 auto;
        padding: 0 20px;
        border: none;
        margin-bottom: 5px;
        border-radius: 2px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        line-height: 250%;
        border: 1px solid #aaa;

        &.blue {
            background: #006fe8;
            color: white;
            border: 1px solid darken($color: #006fe8, $amount: 10)
        }


        padding-top: 3px;

        &:not(.disabled):active {
            background: #006fe8;
            color: white;
            font-weight: 900;
        }

        &.disabled {
            background: #0070e8aa;
            // background: #eee;
            border: 1px solid darken($color: #eee, $amount: 10);
            cursor: not-allowed;
        }
    }
}