.test-background {
    background: #eee;
    min-height: 100vh;
}

.test-banner {
    height: 60px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #999;
    background: white;

    >.container {
        display: flex;
        align-items: center;
        height: 100%;
    }

    h1 {
        font-size: 24px;
        margin: 0;
    }
}

._ren_gateway-minified>._ren_iframeShadow {
    margin-top: 60px;
}

.test-environment {
    padding: 20px;
    margin: 0 auto;
    max-width: 500px;
    background: white;

    margin-top: 15vh;

    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    text-align: center;

    >* {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .box {
        border: 1px solid #ccc;
        border-radius: 2px;
        padding: 10px;

        p:last-child {
            margin-bottom: 0;
        }
    }

    select {
        height: 50px;
        width: 100%;
        text-align: center;
    }

    >div>button {
        text-transform: uppercase;
        padding: 0 20px;
        width: 100%;
        margin: 0 auto;
        border: none;
        margin-bottom: 5px;
        border-radius: 2px;
        line-height: 250%;
        border: 1px solid #aaa;

        &.blue {
            background: #006fe8;
            color: white;
            border: 1px solid darken($color: #006fe8, $amount: 10)
        }


        padding-top: 3px;

        &:not(:disabled):active {
            background: #006fe8;
            color: white;
            font-weight: 900;
        }

        &:disabled {
            background: #eee;
            border: 1px solid darken($color: #eee, $amount: 10);
            color: #eee;
        }
    }
}