@import '../styles/variables';

.feedbackButton {
    background: $blue-bright;
    box-shadow: 0px 1px 2px rgba(0, 27, 58, 0.1);

    width: 50px;
    height: 50px;
    border-radius: 50%;

    padding: 0;
    margin: 0;

    border: none;

    z-index: 25;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}

.feedbackButton--info {
    display: none;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: -45px;
    width: 100px;
    transform: translateX(-50%);
    color: white;
    font-weight: 200; // originally 400
    background: linear-gradient(180deg, #00A8F5 -201.77%, $blue-bright 93.76%);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 27, 58, 0.4);

    &:before {
        bottom: -12px;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    $arrow-size: 4px;

    &:before {
        border-color: rgba(0, 0, 0, 0);
        border-top-color: $blue-bright;
        border-width: $arrow-size + 2px;
        margin-left: -($arrow-size + 2px);
    }
}

.feedbackButton:hover {
    .feedbackButton--info {
        display: flex;
    }
}