.liquidity--options {
    padding: 0 40px;
    padding-bottom: 20px;

    display: flex;

    .liquidity--option+.liquidity--option {
        margin-left: 20px;
    }

    .liquidity--option {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.5px;

        /* identical to box height */
        display: flex;
        align-items: center;

        color: #FFFFFF;
        opacity: 0.4;

        cursor: pointer;
    }

    .liquidity--option--selected {
        opacity: 1;
    }
}

.order--wrapper {
    .order--tabs--minus {
        color: $red;
    }
}

.liquidity-details {
    background: #1C2127;
    border: 1px solid rgba(145, 149, 160, 0.1);
    box-sizing: border-box;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 12px;

    font-size: 12px;
    line-height: 29px;

    color: #FFFFFF;

    display: flex;
    flex-flow: column;
    margin: 0 40px;
    margin-top: 20px;
    padding: 10px;
}

.liquidity-detail {
    display: flex;
    justify-content: space-between;
}