@keyframes wiggle {
    0% {
        transform: rotate(7deg);
    }

    50% {
        transform: rotate(-7deg);
    }

    100% {
        transform: rotate(7deg);
    }
}

.order--tabs {
    width: 0;
}

.section.order {
    display: block;

    .submit-swap-buttons {
        text-align: center;
        margin-top: 35px;
    }

    .submit-swap {
        width: 216px;
        background: linear-gradient(183.19deg, #00A8F5 -75.79%, #006FE8 88.42%);
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
        border-radius: 20px;
        height: 40px !important;
    }

    >*+* {
        margin-top: 15px;
    }
}

.order--wrapper--wrapper {
    border-radius: 12px;
    box-shadow: 0px 1px 2px rgba(0, 26, 58, 0.1);
    background: transparentize(#1C2127, 1 - 0.3);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

.order--wrapper {
    margin: 0 auto;
    position: relative;
    margin-left: -20px;
    margin-right: -20px;

    // >div {
    //     border-radius: 12px 12px 0 0;
    // }

    // >div+div+div {
    //     border-radius: 0 0 12px 12px;
    // }
}

.order--wrapper p {
    line-height: 1.5;
    margin-bottom: 0;
}

.order--wrapper p+p {
    margin-top: 15px;
}

.order--wrapper p+button {
    margin-top: 10px;
}

.order--wrapper form>div+div {
    margin-top: 15px;
}

.order-inputs--second {
    &.token-value {

        input[type=text],
        input[type=number] {
            color: $blue-bright;
        }
    }
}

.order--tabs {
    top: -10px !important;

    >span {
        background: #21262C !important;
        border: 1px solid rgba(145, 149, 160, 0.3) !important;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2) !important;
        color: $blue-bright;
        font-size: 20px;
        font-weight: 500;
    }
}

.order-inputs--second {
    margin-top: 10px !important;
}

.token-value {
    height: 62px !important;

    background: #282C35 !important;
    border: 1px solid rgba(145, 149, 160, 0.1) !important;
    box-sizing: border-box !important;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2) !important;
    border-radius: 40px !important;
    padding: 0 15px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    .token-value--left>.token-value--item>input {
        color: $foreground !important;
        padding-top: 3px;
    }

    .order-value--title {
        display: none;
    }

    .order-value--subtext {
        display: none;
    }

    .select--market {
        margin-bottom: 0 !important;
    }

    .select--market .Select--currency .Select--currency__control {
        background: #21262C !important;
        border: 1px solid rgba(145, 149, 160, 0.1) !important;
        box-sizing: border-box !important;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2) !important;
        border-radius: 20px !important;
    }

    .select-market--locked {

        // pointer-events: none;
        .Select--currency__indicator>svg {
            display: none;
        }
    }

    .token--icon {
        background-color: #58585b !important;
    }
}

.order--input-wrapper {
    flex-grow: 1;
    flex-basis: 0;
}

.order--title {
    margin-bottom: 5px;
    position: relative;
}

.order--title>span {
    font-weight: 500;
}

.order--option {
    text-decoration: underline;
    cursor: pointer;
}

.order--input-wrapper+.order--input-wrapper {
    margin-top: 10px;
    margin-left: 0px;

    @media (min-width: $min-md) {
        margin-left: 15px;
        margin-top: 0px;
    }
}

.order--input-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background;
    border: 1px solid $background;
    position: relative;
}

.order--input-item.disabled {
    background-color: $background;
}

.order--input-item:not(.disabled):hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.order--input-item>input[type="text"],
.order--input-item>input[type="number"] {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    height: 33px; // Subtracted 2px for additional border
}

.order--input-item>span {
    display: inline-block;
    padding-right: 10px;
    text-align: center;
}

.order--currency {
    margin-left: 5px;
}

.order--options {
    display: flex;
    justify-content: flex-end;
    transition: max-height 0.2s ease;
    overflow: hidden;
    max-height: 20px;

    &.hidden {
        display: none;
    }

    @media (max-width: $min-sm) {
        flex-direction: column;
    }
}

.order--options label {
    display: flex;
    align-items: center;
}

.order--options label+label {
    padding-left: 0px;
    padding-top: 5px;

    @media (min-width: $min-sm) {
        padding-left: 20px;
        padding-top: 0px;
    }
}

.order--button {
    background-color: $green;
    color: $background;
    border: none;
    position: relative;
}

.order--button:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-in-out;
}

.order--button:focus {
    background-color: $green;
}

.order--button:focus:before,
.order--button:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

.order--button:disabled {
    background-color: $background;
    border: 1px solid $background;
}

.order--button.submitting {
    &:disabled {
        background-color: $green;
        border: none;
    }

    .loading:after {
        border-color: $background transparent white transparent;
    }
}

.order--button:disabled:hover:before {
    content: none;
}

.order--button span {
    position: relative;
    z-index: 1;
    pointer-events: none;
}

.order--input-wrapper .order--warning,
.order--input-wrapper .order--message {
    margin-top: 5px;
}

.order--warning,
.order--warning a {
    color: $red;
}

.order--error {
    color: $red;
    width: 100%;
    text-align: center;
    position: relative;
    top: 30px;
    height: 0px; // Don't affect position of other items.
    font-size: 12px;
    font-weight: 300;
}

.Select--currency__input {
    width: 1px;
}

.Select--currency__option--is-disabled {
    color: black !important;
}