// #[a-f0-9][a-f0-9][a-f0-9]

$border: rgba(145, 149, 160, 0.1);

$mid-grey: #999;
$background: #21262c;
$foreground: #ccc;
$foreground: #3f3f48;
$background: #fff;

$grey-09: #555;
$grey-10: #888;
$grey-11: #999;
$grey-12: #aaa;

$green: #00a500;
$light-red: #f16262;
$red: #f04545;
$orange: #f45532;
$blue-bright: #006fe8;
$blue-light: #00a8f5;
// $background: #fcfcfd;
