// #[a-f0-9][a-f0-9][a-f0-9]

$border: rgba(145, 149, 160, 0.1);

$mid-grey: #999;
$background: #21262C;
$foreground: #ccc;
$foreground: #21262C;
$background: #fff;

$grey-09: #555;
$grey-10: #888;
$grey-11: #999;
$grey-12: #aaa;


$green: #00a500;
$light-red: #F16262;
$red: #F04545;
$orange: #F45532;
$blue-bright: #006FE8;
$blue-light: #00A8F5;
// $background: #fcfcfd;