.search-bar {
    overflow: hidden;

    border-radius: 16px;
    background: white;
    bottom: 0;
    border: 1px solid #ddd;
    align-items: center;
    $padding-left: 15px;
    padding-left: $padding-left;
    width: calc(100% - #{$padding-left});
    display: flex;
    height: 45px;

    .search-bar--icon {
        width: 20px;
        height: 20px;
        opacity: 0.6;
        margin-right: 10px;
    }

    input {
        background: white;
        color: black;
        font-size: 14px;
        font-weight: 200; // originally 400
        border: 0;
        height: 45px;
        width: 100%;

        &:focus {
            outline: 0;
        }
    }
}