.lds-dual-ring:after {
    content: ' ';
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid;
    border-color: #58585b transparent #58585b transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.loading.alt.lds-dual-ring:after {
    border-color: white transparent white transparent;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}