@import '../styles/variables';

.select--market {

    .Select--currency {
        width: 100%;

        .Select--currency__menu {
            padding: 10px;
        }

        .Select--currency__menu-list {
            max-height: 350px;
            @extend .hide-scrollbar;
            padding-bottom: 0px;
            padding-top: 0px;
        }

        .Select--currency__control {
            $height: 44px;
            height: $height;
            border-radius: $height / 2;
            border-color: $light-grey !important;

            input {
                padding: 0 4px !important;
            }

            >div:first-child {
                padding-top: 0;
                padding-bottom: 0;
            }

            >div>span {
                display: none;
            }

            >div>div>svg {
                color: $blue-bright;
            }

            >div+div+div {
                z-index: 1;
            }
        }

        &>div+div {
            width: 240px;
            border-radius: 12px;
            left: 50%;
            transform: translateX(-50%);
            overflow: hidden;
        }
    }

    .Select--currency__option,
    .Select--currency__value,
    .Select--currency__single-value {
        color: $mid-grey;
        font-weight: 200; // originally 400
        font-size: 16px;
        display: flex !important;
        align-items: center !important;

        svg {
            background-color: white;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            border-radius: 100%;
        }

        span {
            opacity: 0.6;
            margin-left: auto;
        }
    }

    .Select--currency__option {
        font-size: 10px;
        border: 1px solid rgba(255, 255, 255, 0);

        &.Select--currency__option--selected {
            border: 1px solid #DBE0E8;
            box-sizing: border-box;
            border-radius: 6px;
            background-color: white !important;
            color: black !important;
        }

        &:hover {
            border: 1px solid #DBE0E8;
            box-sizing: border-box;
            border-radius: 6px;
            background-color: inherit;
        }
    }

    .Select--currency__input {
        width: 1px;
    }

    &.select--market--second {

        .Select--currency__menu {
            padding: 0px;
        }

        .Select--currency__group {
            padding: 10px;
        }

        .Select--currency__group--disabled {
            // margin-top: 10px;
            background-color: rgba(216, 216, 216, 0.5);

            &>div:last-child {
                opacity: 0.5;
            }
        }
    }

    &.select--market--error {
        .Select--currency__control {
            border: 1px solid lighten($light-red, 15%) !important;
            background-color: lighten($light-red, 32%);

            >div>div>svg {
                color: $light-red;
            }
        }
    }
}