html {
    @extend .no-scrollbar;

    &.noscroll {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}

* {
    font-family: "SuisseIntl", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 1.2rem;
    margin: 0;
}

html,
body {
    background: #FCFCFD;
}

._ren {

    height: 100vh;
    overflow-y: hidden;

    &.main {
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-flow: column;
    }

    h1 {
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 1.6rem;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 15px;
    }

    p {
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: 15px;
    }

    label {
        display: block;
    }

    input[type="number"],
    input[type="text"],
    input[type="password"] {
        border: 1px solid $background;
        height: 35px;
        padding: 0 8px;

        &:disabled {
            color: $grey-12;
        }

        &:focus {
            outline: none;
        }
    }

    input[type="checkbox"] {
        margin: 0 5px 0 0;
        vertical-align: middle;
    }

    ::-webkit-input-placeholder {
        color: $grey-12;
    }

    ::-moz-placeholder {
        color: $grey-12;
    }

    :-ms-input-placeholder {
        color: $grey-12;
    }

    :-moz-placeholder {
        color: $grey-12;
    }

    select:focus {
        background-color: $background;
        outline: none;
    }

    button:focus {
        outline: none;
    }

    button:disabled {
        color: $grey-12;
        cursor: not-allowed;
    }

    button:not(:disabled):hover {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    }

    button:not(:disabled):active {
        background-color: $background;
    }

    button .loading:after {
        height: 12px;
        width: 12px;
        border-width: 1px;
    }

    table th,
    table td {
        height: 35px;
        padding: 0 10px;
        text-align: left;
        white-space: nowrap;
    }

    table th {
        font-weight: 500;
    }

    .left {
        text-align: left;
    }

    .center {
        text-align: center;
    }

    .right {
        text-align: right;
    }

    .container {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
    }

    .section {
        padding: 20px 0;
    }

    .monospace {
        font-family: "Source Code Pro", "Courier New", Courier, monospace;
        letter-spacing: 0.5px;
    }

    .red {
        color: $red;
    }

    .warning {
        color: $orange;
        // font-weight: bold;
    }

    span[role="button"],
    label {
        user-select: none;
    }


    details {
        text-align: left;
        white-space: pre-wrap;
        font-family: monospace;
        color: #555;
    }

    .no-scrollbar {
        overflow: -moz-scrollbars-none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            /* remove scrollbar space */
            display: none;
            width: 0px;
            height: 0px;
        }
    }

    button {
        border: 1px solid $background;
        height: 35px;
        min-width: 120px;
        position: relative;
        cursor: pointer;
    }

    pre {
        background-color: $foreground;
        color: $background;
        padding: 8px;
        border-radius: 4px;
        margin-bottom: 0 !important;
    }

    .link {
        color: $primary;
        cursor: pointer;
    }

    span[role="button"],
    button {
        user-select: none;
    }

    .disabled {
        opacity: 0.5;
        cursor: default;
    }

    .ellipsis {
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    .blue {
        color: $primary;
    }

    .blue-link {
        color: $primary;
        font-style: italic;
    }

    .hint {
        text-transform: uppercase;
        font-weight: 600;
    }

    .break-all {
        word-break: break-all;
    }

    .bold {
        font-weight: 600;
        letter-spacing: 0.5px;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.paused {
        .centered {
            width: 90%;
            height: 100%;

            h2 {
                margin: 0;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }

    .not-in-iframe {
        @extend .centered;
        font-size: 2.0rem;
        color: $foreground;

        a {
            color: $primary;
        }
    }

    .ellipsis {
        &:after {
            overflow: hidden;
            display: inline-block;
            vertical-align: bottom;
            -webkit-animation: ellipsis steps(4, end) 900ms infinite;
            animation: ellipsis steps(4, end) 900ms infinite;
            content: "\2026";
            /* ascii code for the ellipsis character */
            width: 0px;
        }

        @keyframes ellipsis {
            to {
                width: 1.25em;
            }
        }

        @-webkit-keyframes ellipsis {
            to {
                width: 1.25em;
            }
        }
    }

    .no-underline,
    .no-underline:hover {
        text-decoration: none;
    }
}