._ren {
    .colored-banner {
        height: 6px;
        width: 100%;
    }

    .colored-banner--btc {
        background-color: #F2A900;
    }

    .colored-banner--bch {
        background-color: green;
    }

    .colored-banner--zec {
        background-color: yellow;
    }
}