._ren {
    .gateway-container {
        border-radius: 6px;
        text-align: left;
        display: flex;
        flex-flow: column;
        justify-content: center;
        // overflow-y: auto;
    }

    .container--body {
        width: 100%;
        padding: 10px 20px;
    }

    .container--cancel {
        right: ((40px - 12px) / 2);
        top: ((40px - 12px) / 2);
        height: 12px;
        width: 12px;
        margin-top: 0;
        // content: "-";
        cursor: pointer;

        svg {
            height: 12px;
            width: 12px;
        }

        svg,
        svg>* {
            fill: #707575;
        }

        position: absolute;
        top: 15px;
        right: 10px;

        transition: background-color 5ms;

        &:hover {

            svg,
            svg>* {
                fill: $foreground;
            }
        }

        &.disabled {
            opacity: 0.6;
        }
    }

    .container--buttons {
        display: flex;

        button {
            height: 40px;
        }

        justify-content: center;
    }

    .container--loading {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;

        >span {
            margin-top: 15px;
        }
    }

    .connect-web3 {
        text-align: center;
        font-size: 2.0rem;

        .connect-web3--browsers {
            display: flex;
            flex-flow: row;

            margin-bottom: 20px;

            svg {
                height: 40px;
                width: auto;
                max-width: 40px;
            }

            a+a {
                margin-left: 10px;
            }
        }
    }

    .address {
        @extend .monospace;

        >span {
            background-color: $background;
            color: $background;
            font-size: 0px;
            border-bottom: 2px dotted transparentize($color: $grey-12, $amount: 0.5);
            line-height: 100%;

            &:after {
                content: "...";
                line-height: 100%;
            }
        }
    }

    .logged-out {
        padding: 20px;
        font-size: 1.4rem;
        text-align: center;

        h2 {
            font-size: 2.0rem;
        }

        .logged-out--account {
            max-width: 100%;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }

        .logged-out--accounts {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }

        .logged-out--account+.logged-out--account {
            margin-top: 10px;
        }

        .logged-out--account {
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: $background;
            margin: 0;
            padding: 0;
            border: none;
            color: inherit;
            padding-right: 10px;
            font-size: 1.6rem;
            overflow-x: hidden;
            text-overflow: ellipsis;
            background: none;
            transition: box-shadow 0.2s ease;

            &:hover {
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
            }

            &:active {
                transition: box-shadow 0s ease;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
            }

            span {
                @extend .monospace;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }

            display: flex;
            align-items: center;
            justify-content: center;

            .blocky {
                width: 40px;
                height: 40px;
            }

            .blocky--outer {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }
        }
    }

    .container--body--actions {
        padding: 0 20px;
        width: 100%;
    }

    .container--body--details {
        text-align: center;
        background-color: #fdfdfe;
        color: $foreground;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
        height: 187px;
        padding: 0px 20px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;

        .container--body--title {
            font-size: 2.6rem;
            // margin-bottom: 2px;
            line-height: 100%;
            margin-bottom: 10px;
        }

        .container--title--to {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;

            /* identical to box height */

            color: #707575;
        }

        .container--body--values {
            font-size: 1.4rem;

            >span {
                line-height: 2.2;
            }
        }

        .container--token--icon {
            margin-bottom: 20px;

            .token--icon {
                height: 50px;
                max-width: 50px;
                width: 50px;
            }
        }

        >svg {
            width: 40px;
        }
    }

    .container--body--box {
        text-align: left;
        background: #eee;
        padding: 10px;
        border-radius: 3px;
        color: #555;
        margin-bottom: 10px;
    }

    .container--body--box--title {
        color: $foreground;
        font-size: 1.4rem;
        margin-bottom: 5px;
    }

    .open--confirm {
        @extend .button;
        background: linear-gradient(180.19deg, $blue-light -125.02%, var($primaryColor) 98.68%);
        border-radius: 6px !important;
        // margin-bottom: -10px;
        height: 40px;
    }

    .url {
        padding: 6px;
        border: 1px solid #aaa;
        font-size: 1.3rem;
        border-radius: 3px;
    }

    .submitting-to-renvm--body {
        margin-top: 15px;
        text-align: center;
    }

    .submit-to-ethereum {
        @extend .container--body--details;

        // height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px 0;

        button {
            width: 100vw;
        }
    }

    .burn-container {
        @extend .container--body--details;

        // height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;

        .container--body {
            padding-top: 0;
            align-items: center;
            display: flex;
            flex-flow: column;
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            height: 100%;
        }

        .container--body--header {
            background-color: #F3F3F7;
            height: 46px;
            width: 100%;
        }

        .container--body--icon {
            background-color: #F3F3F7;
            margin-top: -28px;
            border-radius: 50px;

            width: 60px;
            height: 60px;

            svg {
                width: 46px;
                height: 60px;
                margin-top: -7px;
            }
        }

        .container--body--message {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #707575;
            flex-grow: 1;
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            >span {
                padding: 0 65px;
            }

            >span.red {
                padding: 0 20px;
            }
        }

        button {
            width: 100vw;
        }
    }

    $graphSize: 100px;

    .CircularProgressbar {
        height: $graphSize;
        margin-top: -($graphSize / 2);
        background: white;
        width: $graphSize;
    }

    .submit-burn-progress {
        width: 100%;
        height: 0;
        display: flex;
        justify-content: center;
        z-index: 1;
        position: relative;
    }

    .submit-burn-progress--body {
        .submit-burn-progress--pending {
            font-weight: bold;
            font-size: 12px;
            color: #3F3F48;
            text-transform: uppercase;
        }

        .submit-burn-progress--hash {
            font-size: 10px;
            color: #3F3F48;
            max-width: $graphSize - 30px;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            a {
                color: $blue-bright;
            }
        }

        position: absolute;
        top: -($graphSize / 2);
        height: $graphSize;
        width: $graphSize;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .ethereum-error {
        text-align: center;
        width: 100%;
        border-radius: 6px;
        padding: 10px;
        margin-bottom: 8px;
    }

    .complete--buttons {
        .container--buttons {
            display: flex;
            flex-flow: column;

            a {
                height: 40px;
                min-height: 40px;
                max-height: unset;
                border: 1px solid #DBE0E8;

                button {
                    background: white;
                    color: $blue-bright;
                    font-size: 1.4rem;
                }

                &:hover,
                &:hover>button {
                    background: #F9F9FC;
                }

                &+a {
                    border-top: none;
                }

                &:first-child {
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                }

                &:last-child {
                    border-bottom-left-radius: 6px;
                    border-bottom-right-radius: 6px;
                }
            }
        }
    }

    .complete {
        @extend .container--body--details;
        padding-top: 0px;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h2 {
            font-size: 2.6rem;
            font-weight: 300;
        }

        p {
            font-size: 1.4rem;
            text-align: center;
            padding: 0 28px;

            color: #87888C;

        }

        .container--body {
            padding: 10px 30px;
        }

        .container--buttons a {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;

            /* identical to box height */
            text-align: center;

            color: #006FE8;
        }


        // Define vars we'll be using
        $brand-success: #006FE8;
        $loader-size: 5em;
        $check-height: $loader-size/2;
        $check-width: $check-height/2;
        $check-left: ($loader-size/6 + $loader-size/12);
        $check-thickness: 3px;
        $check-color: $brand-success;

        .circle-loader {
            margin-bottom: 20px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-left-color: $check-color;
            animation: loader-spin 1.2s infinite linear;
            position: relative;
            display: inline-block;
            vertical-align: top;
            border-radius: 50%;
            width: $loader-size;
            height: $loader-size;
        }

        .load-complete {
            -webkit-animation: none;
            animation: none;
            border-color: $check-color;
            transition: border 500ms ease-out;
        }

        .checkmark {
            // display: none;

            &.draw:after {
                animation-duration: 800ms;
                animation-timing-function: ease;
                animation-name: checkmark;
                transform: scaleX(-1) rotate(135deg);
            }

            &:after {
                opacity: 1;
                height: $check-height;
                width: $check-width;
                transform-origin: left top;
                border-right: $check-thickness solid $check-color;
                border-top: $check-thickness solid $check-color;
                content: '';
                left: $check-left;
                top: $check-height;
                position: absolute;
            }
        }

        @keyframes loader-spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes checkmark {
            0% {
                height: 0;
                width: 0;
                opacity: 1;
            }

            20% {
                height: 0;
                width: $check-width;
                opacity: 1;
            }

            40% {
                height: $check-height;
                width: $check-width;
                opacity: 1;
            }

            100% {
                height: $check-height;
                width: $check-width;
                opacity: 1;
            }
        }
    }
}