._ren {
    .transfer-details {
        width: calc(100vw - 5px);
        height: 100px;
        padding: 20px;
        padding-top: 35px;

        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #707575;
    }

    .transfer-details--row {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        padding: 4px 0;
    }

    .transfer-details--right {
        text-align: right;
    }
}