._ren {
    .transfer-details {
        @extend .no-scrollbar;

        height: 100px;
        width: 100vw;
        padding: 20px 30px;
        padding-top: 35px;

        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #707575;

        box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.1);
    }

    .transfer-details--row {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        padding: 4px 0;
    }

    .transfer-details--right {
        text-align: right;
    }
}