// #[a-f0-9][a-f0-9][a-f0-9]


$foreground: #002247;
$background: #fff;

$grey-09: #555;
$grey-10: #888;
$grey-12: #aaa;

$red: #f04545;
$orange: #f09245;
$primaryColor: #006fe8;
$blue-light: #00a8f5;